<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='bnb_styles.css'>
    <title class=headings>Makers BnB</title>
  </head>

  <body>

    <div class="dropdown">
      <button class="dropbtn">Menu</button>
        <div class="dropdown-content">
          <a href="/book">Make a booking</a>
          <a href="/create_space">Create a space</a>
          <a href="/">Sign Out</a>
        </div>
    </div>

    <div class=content>
      <h1 class=headings>Welcome, <%=@user.name%>!</h1>
    </div>

    <h2 class=headings>List of all spaces</h2>

    <ul>
    <%@spaces.each do |space| %>
    <li class="space">
        <%=space['name']%>
        <%=space['description']%>
        <%=space['price']%>
      <form action="/book_space/<%=space['space_id']%>" method="get">
        <input type='submit' value="Book">
      </form>
    </li>
    <%end%>
    </ul>

    <p><form action="/create_space" method="get">
        <input type='submit' value="Create Space">
    </form>

    <p><form action="/sign_out" method="post">
        <input type='submit' name='sign_out' value="Sign Out">
    </form>

  </body>
</html>
