<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='bnb_styles.css'>
    <title class=headings>Makers BnB</title>
  </head>

  <body>

    <div class="dropdown">
      <button name ='dropbtn' class="dropbtn">Menu</button>
        <div class="dropdown-content">
          <a href="/my_bookings/:user_id">Manage Bookings</a>
          <a href="/my_spaces">Manage Spaces</a>
          <form action='/sign_out' method='post'>
            <input type='submit' name='sign_out' value='Sign Out'>
          </form>
        </div>
    </div>

    <div class=content>
      <h1 class=headings>Welcome, <%=@user.name%>!</h1>
    </div>

    <h2 class=subheadings>List of all spaces</h2>

    <ul>
    <%@spaces.each do |space| %>
    <li class="space">
        <%=space['space_name']%> :
        <%=space['price']%> per night<br>
        <%=space['description']%>
      <form action="/spaces/book_space/<%=space['space_id']%>" method="get">
        <input type='submit' value="Book">
      </form>
    </li>
    <%end%>
    </ul>



  </body>
</html>
