
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='bnb_styles.css'>
    <title class='headings'>Makers BnB</title>
  </head>
  <body>

    <div class="dropdown">
      <button class="dropbtn">Menu</button>
        <div class="dropdown-content">
          <a href="/user">Home</a>
          <a href="/my_bookings/:user_id">Manage Bookings</a>
          <a href="/my_spaces">Manage Spaces</a>
          <form action='/sign_out' method='post'>
            <input type='submit' name='sign_out' value='Sign Out'>
          </form>
        </div>
    </div>

    <h2 class=headings> Pending Bookings </h2>
    <ul>
    <%@pending.each do |booking| %>
    <li class="pending_bookings">
        Space: <%=booking.space.space_name%><br>
        Price: <%=booking.space.price%><br>
        Booked by: <%=booking.user.name%><br>
        <form action="/my_spaces/manage/<%=booking.booking_id%>/accept" method="post">
          <input type="hidden" name="space_id" value="<%=booking.space.space_id%>">
          <input type='submit' name="response" value="Accept">
        </form>
        <form action="/my_spaces/manage/<%=booking.booking_id%>/decline" method="post">
          <input type="hidden" name="space_id" value="<%=booking.space.space_id%>">
          <input type='submit' name="response" value="Decline">
        </form>
    </li>
    <%end%>
    </ul>

   <h2 class=headings> Confirmed Bookings </h2>
    <ul>
    <%@confirmed.each do |booking| %>
    <li class="confirmed_bookings">
          Space: <%=booking.space.space_name%><br>
          Price: <%=booking.space.price%><br>
          Booked By: <%=booking.user.name%><br>
    </li>
    <%end%>
    </ul>

    <h2 class=headings> Declined Bookings </h2>
    <ul>
    <%@declined.each do |booking| %>
    <li class="declined_bookings">
          Space: <%=booking.space.space_name%><br>
          Price: <%=booking.user.name%><br>
          Booked By: <%=booking.space.price%><br>
    </li>
    <%end%>
    </ul>

  </body>
</html>
