<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='bnb_styles.css'>
    <title class='headings'>Makers BnB</title>
  </head>
  <body>

    <div class="dropdown">
      <button name ='dropbtn' class="dropbtn">Menu</button>
        <div class="dropdown-content">
          <a href="/my_bookings/:user_id">Manage Bookings</a>
          <a href="/my_spaces">Manage Spaces</a>
          <form action='/sign_out' method='post'>
            <input type='submit' name='sign_out' value='Sign Out'>
          </form>
        </div>
    </div>

    <h2 class=headings> Pending Bookings </h2>
    <ul>
    <%@pending.each do |booking| %>
    <li class="pending_booking">
        <%=booking.space.space_name%>
        <%=booking.user.name%>
        <%=booking.space.price%>
      <form action="/my_spaces/manage" method="post">
        <input type="hidden" name="booking_id" value="<%=booking.booking_id%>">
        <input type='submit' name="accept" value="Accept">
      </form>
      <form action="/my_spaces/manage" method="post">
        <input type="hidden" name="booking_id" value="<%=booking.booking_id%>">
        <input type='submit' name="decline" value="Decline">
      </form>
    </li>
    <%end%>
    </ul>

    (list of my spaces with booking requests and accept/decline options)

  </body>
</html>
